# In class practice with Pandas & Scipy Libraries by Alannah Harnden

Import the libraries

In [3]:
import os
import re
import pandas as pd
from scipy import stats

hello world

## Working with pandas

How to importa a tab-delimited text data file. The file is in the same directory at the jupyter notebook.

In [4]:
data=pd.read_csv('hist_taxa_treat2.txt', sep='\t', index_col=False, low_memory=False)

How to use pandas to assign data from the dataset to a variable.

In [5]:
lacto=data.loc[(data['Species']=='Lactobacillus')]
x=lacto['Abundance']
print('lactos')
print(x)

lactos
0     0.063575
1     0.030630
2     0.026108
3     0.058233
4     0.092633
        ...
84    0.003580
85    0.016010
86    0.044609
87    0.007296
88    0.003000
Name: Abundance, Length: 89, dtype: float64

In [6]:
para=data.loc[(data['Species']=='Parabacteroides')]
#print(para)
y=para['Abundance']
print('paras')
print(y)

paras
89     0.005896
90     0.001962
91     0.002219
92     0.003267
93     0.002320
         ...
173    0.003376
174    0.002668
175    0.012194
176    0.020810
177    0.006534
Name: Abundance, Length: 89, dtype: float64

## Working with Scipy statistic methods

In [7]:
tt_out=stats.ttest_ind(x,y)
print(tt_out)

TtestResult(statistic=7.288016524628964, pvalue=1.0200357215755368e-11, df=176.0)

## Exercises

PRINT HEAD AND TAIL OF data

In [16]:
print(data.head())
print(data.tail())

  SampleID Treatment  Treatment_no  Time        Species  Abundance   Count
0    CC01A   Control           1.0   0.0  Lactobacillus   0.063575  1430.0
1    CC01B   Control           1.0   1.0  Lactobacillus   0.030630   379.0
2    CC01C   Control           1.0   2.0  Lactobacillus   0.026108   386.0
3    CC01D   Control           1.0   3.0  Lactobacillus   0.058233  1193.0
4    CC02A   Control           1.0   0.0  Lactobacillus   0.092633  2455.0
     SampleID  Treatment  Treatment_no  Time              Species  Abundance  \
1330    CC23C  Treatment           NaN   NaN  Desulfovibrionaceae   0.000000
1331    CC23D  Treatment           NaN   NaN  Desulfovibrionaceae   0.000000
1332    CC24A  Treatment           NaN   NaN  Desulfovibrionaceae   0.000203
1333    CC24B  Treatment           NaN   NaN  Desulfovibrionaceae   0.000063
1334    CC24D  Treatment           NaN   NaN  Desulfovibrionaceae   0.000000

      Count
1330    NaN
1331    NaN
1332    NaN
1333    NaN
1334    NaN

Assign 3 variables to 3 different values in column 'Species'

In [17]:
desulf=data.loc[(data['Species']=='Desulfovibrionaceae')]
#print(para)
y=para['Abundance']
print('desulfs')
print(y)

phasco=data.loc[(data['Species']=='Phascolarctobacterium')]
#print(para)
y=para['Abundance']
print('phascos')
print(y)

barne=data.loc[(data['Species']=='Barnesiellaceae')]
#print(para)
y=para['Abundance']
print('barnes')
print(y)

desulfs
89     0.005896
90     0.001962
91     0.002219
92     0.003267
93     0.002320
         ...
173    0.003376
174    0.002668
175    0.012194
176    0.020810
177    0.006534
Name: Abundance, Length: 89, dtype: float64
phascos
89     0.005896
90     0.001962
91     0.002219
92     0.003267
93     0.002320
         ...
173    0.003376
174    0.002668
175    0.012194
176    0.020810
177    0.006534
Name: Abundance, Length: 89, dtype: float64
barnes
89     0.005896
90     0.001962
91     0.002219
92     0.003267
93     0.002320
         ...
173    0.003376
174    0.002668
175    0.012194
176    0.020810
177    0.006534
Name: Abundance, Length: 89, dtype: float64

Use the describe function

In [21]:
description = data.describe()
print(description)

       Treatment_no         Time    Abundance        Count
count   1068.000000  1068.000000  1335.000000  1068.000000
mean       1.516854     1.505618     0.011190   218.326779
std        0.499950     1.133525     0.024425   448.925723
min        1.000000     0.000000     0.000000     0.000000
25%        1.000000     0.000000     0.000072     5.000000
50%        2.000000     2.000000     0.001127    28.000000
75%        2.000000     3.000000     0.007133   200.000000
max        2.000000     3.000000     0.206322  4317.000000

Print the sums, var, and std for data

In [52]:
print(data['Abundance'].sum())
print(data['Abundance'].var())
print(data['Abundance'].std())

14.939201413
0.0005965801935156186
0.024424991167155383

Make a new dataframe that only includes SampleID and Species.
Make a second dataframe that only includes only Abundance.
Make a third dataframe that merges the other two.

In [67]:
yippee = pd.DataFrame(data['SampleID'], data['Species'])
print(yippee)

jippy = pd.DataFrame(data['Abundance'])
print(jippy)

hippie = pd.DataFrame(yippee + jippy)
print(hippie)

                    SampleID
Species
Lactobacillus            NaN
Lactobacillus            NaN
Lactobacillus            NaN
Lactobacillus            NaN
Lactobacillus            NaN
...                      ...
Desulfovibrionaceae      NaN
Desulfovibrionaceae      NaN
Desulfovibrionaceae      NaN
Desulfovibrionaceae      NaN
Desulfovibrionaceae      NaN

[1335 rows x 1 columns]
      Abundance
0      0.063575
1      0.030630
2      0.026108
3      0.058233
4      0.092633
...         ...
1330   0.000000
1331   0.000000
1332   0.000203
1333   0.000063
1334   0.000000

[1335 rows x 1 columns]
                Abundance SampleID
Species
0                     NaN      NaN
1                     NaN      NaN
2                     NaN      NaN
3                     NaN      NaN
4                     NaN      NaN
...                   ...      ...
Victivallaceae        NaN      NaN
Victivallaceae        NaN      NaN
Victivallaceae        NaN      NaN
Victivallaceae        NaN      NaN
Victivallaceae        NaN      NaN

[2670 rows x 2 columns]

In [61]:
data.head()

  SampleID Treatment  Treatment_no  Time        Species  Abundance   Count
0    CC01A   Control           1.0   0.0  Lactobacillus   0.063575  1430.0
1    CC01B   Control           1.0   1.0  Lactobacillus   0.030630   379.0
2    CC01C   Control           1.0   2.0  Lactobacillus   0.026108   386.0
3    CC01D   Control           1.0   3.0  Lactobacillus   0.058233  1193.0
4    CC02A   Control           1.0   0.0  Lactobacillus   0.092633  2455.0

In [62]:
data

,SampleID,Treatment,Treatment_no,Time,Species,Abundance,Count
0,CC01A,Control,1.0,0.0,Lactobacillus,0.063575,1430.0
1,CC01B,Control,1.0,1.0,Lactobacillus,0.030630,379.0
2,CC01C,Control,1.0,2.0,Lactobacillus,0.026108,386.0
3,CC01D,Control,1.0,3.0,Lactobacillus,0.058233,1193.0
4,CC02A,Control,1.0,0.0,Lactobacillus,0.092633,2455.0
...,...,...,...,...,...,...,...
1330,CC23C,Treatment,NaN,NaN,Desulfovibrionaceae,0.000000,NaN
1331,CC23D,Treatment,NaN,NaN,Desulfovibrionaceae,0.000000,NaN
1332,CC24A,Treatment,NaN,NaN,Desulfovibrionaceae,0.000203,NaN
1333,CC24B,Treatment,NaN,NaN,Desulfovibrionaceae,0.000063,NaN
1334,CC24D,Treatment,NaN,NaN,Desulfovibrionaceae,0.000000,NaN

## You can use the directory function to see all the pandas methods

In [11]:
#dir(data)

In [63]:
#How to see the names of all the columns
data.columns  #All the titles for the columns

Index(['SampleID', 'Treatment', 'Treatment_no', 'Time', 'Species', 'Abundance',
       'Count'],
      dtype='object')

In [64]:
#Using a for loop to print all the names
for i in data.columns: print (i)

SampleID
Treatment
Treatment_no
Time
Species
Abundance
Count

In [65]:
#Retrieve data of all the columns
data["Count"]

0       1430.0
1        379.0
2        386.0
3       1193.0
4       2455.0
         ...
1330       NaN
1331       NaN
1332       NaN
1333       NaN
1334       NaN
Name: Count, Length: 1335, dtype: float64

In [66]:
#An example of calculating a stat
data["Count"].sum()

233173.0

## Use pandas in a function

Write a function called calc_stats that:
(1) Takes 2 string arguments, a filename of tab-delimited database and the name of a 
    column in the data.
(2) And it returns a list of the following: the sum, median, mean, standard deviation,
    minimum value, and maximum value.

In [96]:
def calc_stats(x, y):
    capy = pd.read_table(x)
    oh = capy[y].sum()
    me = capy[y].median()
    ohh = capy[y].mean()
    my = capy[y].std()
    bow = capy[y].min()
    wow = capy[y].max()
    return [oh, me, ohh, my, bow, wow]

In [97]:
out=calc_stats("hist_taxa_treat2.txt", "Count")
print(out)
#Should print [233173.0, 28.0, 218.32677902621722, 448.92572275301353, 0.0, 4317.0]

[233173.0, 28.0, 218.32677902621722, 448.92572275301353, 0.0, 4317.0]

In [98]:
out2=calc_stats("hist_taxa_treat2.txt", "Abundance")
print(out2)
#Should print [14.939201413, 0.001127497, 0.011190413043445693, 0.024424991167155383, 0.0, 0.206321962]

[14.939201413, 0.001127497, 0.011190413043445693, 0.024424991167155383, 0.0, 0.206321962]

In [ ]:
#Yippppeee, I'm finished!